@model Quiz.Models.Exercise
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Quiz</title>
</head>
<body>
    <p>@Model.Question</p>
    <a href="/home/quiz/@Model.Id/1/Score">@Model.Answer1</a>
    <a href="/home/quiz/@Model.Id/1/Score">@Model.Answer2</a>
    <a href="/home/quiz/@Model.Id/1/Score">@Model.Answer3</a>
    <a href="/home/quiz/@Model.Id/1/Score">@Model.Answer4</a>
</body>
</html>
