@model System.Collections.Generic.List<ListingTodos.Models.ToDo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ToDo CRUD App</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h1 align="center">Todos for today</h1>
    <center>
        <a href="add" class="btn btn-info btn-lg" role="button">Add new todo</a>
    </center>

    <table class="table table-striped table-hover" style="text-align:center; width:90%;" align="center">
        <thead class="thead-inverse">
            <tr>
                <th style="border: 2px solid black;">ID</th>
                <th style="border: 2px solid black;">Date</th>
                <th style="border: 2px solid black;">User</th>
                <th style="border: 2px solid black;">Action</th>
                <th style="border: 2px solid black;">Done</th>
                <th style="border: 2px solid black;">Urgent</th>
                <th style="border: 2px solid black;">Delete</th>
                <th style="border: 2px solid black;">Edit</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var todo in Model)
                {
            <tr>
                <td style="border: 1px solid black;">@todo.Id</td>
                <td style="border: 1px solid black;">@todo.Date</td>
                <td style="border: 1px solid black;">@todo.User</td>
                <td style="border: 1px solid black;"><a href="/@todo.Id">@todo.Title</a></td>
                <td style="border: 1px solid black;">
                    @{if (@todo.IsDone)
            {
                <p>&#10004</p>
}
else
{
            <p>&#10008</p>
}
                    }
                </td>
                <td style="border: 1px solid black;">
                    @{if (@todo.IsUrgent)
            {
                <p>&#10004</p>
}
else
{
            <p>&#10008</p>
}
                    }
                </td>
                <td style="border: 1px solid black;"><a href="/delete/@todo.Id" class="btn btn-info btn-lg" role="button" style="background-color:red">Delete</a></td>
                <td style="border: 1px solid black;"><a href="edit/@todo.Id" class="btn btn-info btn-lg" role="button" style="background-color:orange">Edit</a></td>
            </tr>
                }
            }
        </tbody>
    </table>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
