@model ListingTodos.ViewModels.TodoViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.IdOfTodo ToDo</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h1 align="center">The @Model.IdOfTodo ToDo is:</h1>
    <table class="table" style="text-align:center; width:90%;" align="center">
        <tr>
            <th style="border: 2px solid black;">ID</th>
            <th style="border: 2px solid black;">Date</th>
            <th style="border: 2px solid black;">User</th>
            <th style="border: 2px solid black;">Assignee</th>
            <th style="border: 2px solid black;">Action</th>
            <th style="border: 2px solid black;">Done</th>
            <th style="border: 2px solid black;">Urgent</th>
            <th style="border: 2px solid black;">Delete</th>
            <th style="border: 2px solid black;">Edit</th>
        </tr>
        <tr>
            <td style="border: 1px solid black;">@Model.OneToDo(Model.IdOfTodo).Id</td>
            <td style="border: 1px solid black;">@Model.OneToDo(Model.IdOfTodo).Date</td>
            <td style="border: 1px solid black;">
                @{string GetTheCreatorName()
                    {
                        string userName = null;
                        foreach (var user in Model.userList)
                        {
                            if (Model.OneToDo(Model.IdOfTodo).Creator == user)
                                userName = user.Name;
                        }
                        return userName;
                    }
                }
                @GetTheCreatorName()
            </td>
            <td style="border: 1px solid black;">
                @{string GetTheAssigneeName()
                    {
                        string userName = null;
                        foreach (var user in Model.userList)
                        {
                            if (Model.OneToDo(Model.IdOfTodo).Assignee == user)
                                userName = user.Name;
                        }
                        return userName;
                    }
                }
                @GetTheAssigneeName()
            </td>
            <td style="border: 1px solid black;">@Model.OneToDo(Model.IdOfTodo).Title</td>
            <td style="border: 1px solid black;">
                @{if (@Model.OneToDo(Model.IdOfTodo).IsDone)
                    {
                        <p>&#10004</p>
                    }
                    else
                    {
                        <p>&#10008</p>
                    }
                }
            </td>
            <td style="border: 1px solid black;">
                @{if (@Model.OneToDo(Model.IdOfTodo).IsUrgent)
                    {
                        <p>&#10004</p>
                    }
                    else
                    {
                        <p>&#10008</p>
                    }
                }
            </td>
            <td style="border: 1px solid black;"><a href="/delete/@Model.OneToDo(Model.IdOfTodo).Id" class="btn btn-info btn-lg" role="button" style="background-color:red">Delete</a></td>
            <td style="border: 1px solid black;"><a href="edit/@Model.OneToDo(Model.IdOfTodo).Id" class="btn btn-info btn-lg" role="button" style="background-color:orange">Edit</a></td>
        </tr>
    </table>
    <center>
        <nav>
            <a href="/" class="btn btn-info btn-lg" role="button">Return to list</a>
        </nav>
    </center>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>