@model PallidaOrientation.Models.Summary
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Summary</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <td>Item name</td>
                <td>Manufacturer</td>
                <td>Category</td>
                <td>Size</td>
                <td>Quantity</td>
                <td>Sub-total Price</td>
            </tr>
        </thead>
        <tbody>
        <tbody>
            <tr>
                <td>@Model.ItemName</td>
                <td>@Model.Manufacturer</td>
                <td>@Model.Category</td>
                <td>@Model.Size</td>
                <td>@Model.Quantity</td>
                <td>@Model.TotalPrice</td>
            </tr>
        </tbody>
    </table>
</body>
</html>