@model BankOfSimba.ViewModels.AccountsViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank of Simba</title>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Balance</th>
            <th>AnimalType</th>
            <th>THE KING</th>
            <th>Side</th>
        </tr>
        @{int counter = 0; }
        @foreach (var account in Model.AccountList)
        {
            counter++;
        <tr>
            <td>@counter</td>
            <td>@account.Name</td>
            <td>@account.Balance</td>
            <td>@account.AnimalType</td>
            <td @{if (account.Title == "THE KING") { @: style="color:red"
                } }>
                @account.Title
            </td>
            <td>@account.Side</td>
        </tr>
        }
    </table>
</body>
</html>
