@model ListingToDos2.ViewModels.ToDoUserViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List of ToDos</title>
</head>
<body>
    <nav>
        <a href="/todo/add">Add new ToDo</a> |
        <a href="/user/list">Users</a> |
        <a href="/user/add">Add new User</a> |
    </nav>
    <form action="Search" method="post">
        Search:
        <input type="text" name="text" value="">
        <select name="type">
            <option value="assignee">Assignee</option>
            <option value="creator">Creator</option>
            <option value="title">Title</option>
            <option value="date">Date</option>
        </select>
        <input type="submit" value="Search">
    </form>
    <table>
        <thead>
            <tr>
                <td>Date</td>
                <td>Creator</td>
                <td>Title</td>
                <td>IsUrgent</td>
                <td>IsDone</td>
                <td>Assignee</td>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var todo in Model.FilteredToDos())
                {
                    <tr>
                        <td>@todo.Date</td>
                        <td>@todo.Creator.Name</td>
                        <td><a href="/todo/@todo.Id">@todo.Title</a></td>
                        <td>@todo.IsUrgent</td>
                        <td>@todo.IsDone</td>
                        <td><a href="/user/@todo.Assignee.UserId">@todo.Assignee.Name</a></td>
                        <td><a href="/todo/delete/@todo.Id" class="btn btn-info btn-lg" role="button">Delete</a></td>
                        <td><a href="/todo/edit/@todo.Id" class="btn btn-info btn-lg" role="button">Edit</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
